rdk_tools/examples/TROS_example02_racing_line_follower.json
[
    {
        "id": "670db0923361fca8",
        "type": "tab",
        "label": "TROS Racing Line Follower",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "329835ad4bb184f2",
        "type": "change",
        "z": "670db0923361fca8",
        "name": "设定MIPI节点名称",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tros-mipi-cam",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "mipi_cam mipi_cam_640x480_nv12_hbmem.launch.py",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "3fd402978032a3f6"
            ]
        ]
    },
    {
        "id": "7415f5c0420699e3",
        "type": "change",
        "z": "670db0923361fca8",
        "name": "设定感知节点名称",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tros-racing-track-detection-resnet",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "racing_track_detection_resnet racing_track_detection_resnet.launch.py",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "4d7b4c565a93919b"
            ]
        ]
    },
    {
        "id": "6b3aab7de2e8d72d",
        "type": "change",
        "z": "670db0923361fca8",
        "name": "设定控制节点名称",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tros-racing-control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "racing_control racing_control.launch.py avoid_angular_ratio:=0.2 avoid_linear_speed:=0.1 follow_angular_ratio:=-1.0 follow_linear_speed:=0.1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "cbaaebf450e30d70"
            ]
        ]
    },
    {
        "id": "676f0e969a07922d",
        "type": "change",
        "z": "670db0923361fca8",
        "name": "设定底盘节点名称",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tros-originbot-base tros-serial tros-originbot-msgs",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "originbot_base robot.launch.py ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "208efc76bd57556a"
            ]
        ]
    },
    {
        "id": "557130d22bf0c621",
        "type": "inject",
        "z": "670db0923361fca8",
        "name": "全部启动",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "95b7786d0bd8d625"
            ]
        ]
    },
    {
        "id": "ab13719ae9c07c04",
        "type": "debug",
        "z": "670db0923361fca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "95b7786d0bd8d625",
        "type": "rdk-tools smartupdate",
        "z": "670db0923361fca8",
        "name": "",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "329835ad4bb184f2",
                "84714716441620be",
                "c25e310a036b5e87",
                "20b6b2f07c03b78d",
                "aac440eb0f80f369"
            ],
            []
        ]
    },
    {
        "id": "f085f61d87a846af",
        "type": "inject",
        "z": "670db0923361fca8",
        "name": "全部关闭",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "3fd402978032a3f6",
                "4d7b4c565a93919b",
                "cbaaebf450e30d70",
                "208efc76bd57556a"
            ]
        ]
    },
    {
        "id": "fd1583b162ef03e9",
        "type": "debug",
        "z": "670db0923361fca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 300,
        "wires": []
    },
    {
        "id": "3fd402978032a3f6",
        "type": "rdk-tools checkexecute",
        "z": "670db0923361fca8",
        "name": "",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "ab13719ae9c07c04"
            ],
            [
                "fd1583b162ef03e9"
            ]
        ]
    },
    {
        "id": "4d7b4c565a93919b",
        "type": "rdk-tools checkexecute",
        "z": "670db0923361fca8",
        "name": "",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "ab13719ae9c07c04"
            ],
            [
                "fd1583b162ef03e9"
            ]
        ]
    },
    {
        "id": "cbaaebf450e30d70",
        "type": "rdk-tools checkexecute",
        "z": "670db0923361fca8",
        "name": "",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "ab13719ae9c07c04"
            ],
            [
                "fd1583b162ef03e9"
            ]
        ]
    },
    {
        "id": "208efc76bd57556a",
        "type": "rdk-tools checkexecute",
        "z": "670db0923361fca8",
        "name": "",
        "x": 770,
        "y": 480,
        "wires": [
            [
                "ab13719ae9c07c04"
            ],
            [
                "fd1583b162ef03e9"
            ]
        ]
    },
    {
        "id": "84714716441620be",
        "type": "delay",
        "z": "670db0923361fca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "7415f5c0420699e3"
            ]
        ]
    },
    {
        "id": "c25e310a036b5e87",
        "type": "delay",
        "z": "670db0923361fca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "6b3aab7de2e8d72d"
            ]
        ]
    },
    {
        "id": "20b6b2f07c03b78d",
        "type": "delay",
        "z": "670db0923361fca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "9",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 440,
        "wires": [
            [
                "676f0e969a07922d"
            ]
        ]
    },
    {
        "id": "50d1e41ac9dc6344",
        "type": "inject",
        "z": "670db0923361fca8",
        "name": "打开",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "6b3aab7de2e8d72d"
            ]
        ]
    },
    {
        "id": "d5244fbeb87a5a8e",
        "type": "inject",
        "z": "670db0923361fca8",
        "name": "关闭",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "cbaaebf450e30d70"
            ]
        ]
    },
    {
        "id": "e0a7c0cf31ba0ff8",
        "type": "rdk-tools texttoaudio",
        "z": "670db0923361fca8",
        "name": "",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "aac440eb0f80f369",
        "type": "change",
        "z": "670db0923361fca8",
        "name": "提示",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "智能更新完成",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "e0a7c0cf31ba0ff8"
            ]
        ]
    }
]